/* spacing */
.mt--20 {
  margin-top: 20px; }
.mt--30 {
  margin-top: 30px; }
.mt--40 {
  margin-top: 40px; }
.mt--50 {
  margin-top: 50px; }
.mt--60 {
  margin-top: 60px; }
.mt--70 {
  margin-top: 70px; }
.mt--80 {
  margin-top: 80px; }
.mt--90 {
  margin-top: 90px; }
.mt--100 {
  margin-top: 100px; }
.mt--110 {
  margin-top: 110px; }
.mt--120 {
  margin-top: 120px; }
.mt--130 {
  margin-top: 130px; }
.mt--140 {
  margin-top: 140px; }
.mt--150 {
  margin-top: 150px; }
 
/* spacing */
.pt--30 {
  padding-top: 30px; }
.pt--40 {
  padding-top: 40px; }
.pt--50 {
  padding-top: 50px; }
.pt--60 {
  padding-top: 60px; }
.pt--70 {
  padding-top: 70px; }
.pt--80 {
  padding-top: 80px; }
.pt--90 {
  padding-top: 90px; }
.pt--100 {
  padding-top: 100px; }
.pt--110 {
  padding-top: 110px; }
.pt--120 {
  padding-top: 120px; }
.pt--130 {
  padding-top: 130px; }
.pt--140 {
  padding-top: 140px; }
.pt--150 {
  padding-top: 150px; }

/* spacing */
.pb--30 {
  padding-bottom: 30px; }
.pb--40 {
  padding-bottom: 40px; }
.pb--45 {
  padding-bottom: 45px; }
.pb--50 {
  padding-bottom: 50px; }
.pb--55 {
  padding-bottom: 55px; }
.pb--60 {
  padding-bottom: 60px; }
.pb--70 {
  padding-bottom: 70px; }
.pb--75 {
  padding-bottom: 75px; }
.pb--80 {
  padding-bottom: 80px; }
.pb--90 {
  padding-bottom: 90px; }
.pb--100 {
  padding-bottom: 100px; }
.pb--110 {
  padding-bottom: 110px; }
.pb--120 {
  padding-bottom: 120px; }
.pb--130 {
  padding-bottom: 130px; }
.pb--140 {
  padding-bottom: 140px; }
.pb--150 {
  padding-bottom: 150px; }

/* spacing */
.ptb--30 {
  padding: 30px 0; }
.ptb--40 {
  padding: 40px 0; }
.ptb--50 {
  padding: 50px 0; }
.ptb--60 {
  padding: 60px 0; }
.ptb--70 {
  padding: 70px 0; }
.ptb--80 {
  padding: 80px 0; }
.ptb--90 {
  padding: 90px 0; }
.ptb--100 {
  padding: 100px 0; }
.ptb--110 {
  padding: 110px 0; }
.ptb--120 {
  padding: 120px 0; }
.ptb--130 {
  padding: 130px 0; }
.ptb--140 {
  padding: 140px 0; }
.ptb--150 {
  padding: 150px 0; }
.ptb--200 {
  padding: 200px 0; } 
.ptb--220 {
  padding: 220px 0; }
.padding--lr--30px {
  padding: 0 30px; }
.margin--lr--60 {
  margin: 0 60px; }